  body{
    background-color: lightgray;
  }


  .race-tracks {
      display: flex;
      flex-direction: column;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url("");
      background-size: cover;
    } 
    
    .race-track {
      width: 500px;
      height: 150px;
      border: 1px solid black;
      border-radius: 20px;
      position: relative;
      margin: 0 auto;
      margin-bottom: 50px;
      background-color: white;
    }
    
    .fas {
      font-size: 48px;
      
      position: absolute;
      bottom: 0;
    }
    
    #car-icon-1 {
      color: red;
    }
    
    #car-icon-2 {
      color: blue;
    }

    .fin {
    top: -30px;
    position: absolute;
    left: 440px;
    height: 30px;
    width: 30px;
    }


    .finish-line {
      position: absolute;
      left: 440px;
      width: 1%;
      height: 150px;
      background-color: rgb(0, 0, 0);
    }
    

   .Player-1{
    display: flex;
    font-weight: bold ;
    font-size: x-large;
    padding-right: 70px;

    }
    
   .Player-2{
    display: flex;
    font-weight: bold ;
    font-size: x-large;
    padding-right: 170px;

    }
    
    